@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Mistress' Casino</h1>
    <p>To play a game go to the top and click Roulette or if you're in the mood for a drink click Bar.</p>
</div>
